<div class="nav-menu">
    <i class="fas fa-desktop home-btn" title="Back to Terminal"></i>
    <div class="menu-container">
        <i class="fas fa-bars menu-btn" title="Menu"></i>
        <div class="menu-dropdown hidden">
            <a href="#" class="menu-link" data-target="page-about">About me</a>
            <a href="#" class="menu-link" data-target="page-projects">Projects</a>
            <a href="#" class="menu-link" data-target="page-blog">Blog</a>
            <a href="#" class="menu-link" data-target="page-gallery">Gallery</a>
            <a href="#" class="menu-link" data-target="page-contact">Contact me</a>
        </div>
    </div>
</div>