/* GitHub Light Theme */
[data-theme="light"] .highlight .hll {
  background-color: #dddddd
}

[data-theme="light"] .highlight {
  background: #f6f8fa;
  color: #24292e
}

[data-theme="light"] .highlight .c {
  color: #6a737d
}

/* Comment */
[data-theme="light"] .highlight .err {
  color: #b31d28;
  background-color: #ffeef0
}

/* Error */
[data-theme="light"] .highlight .k {
  color: #d73a49
}

/* Keyword */
[data-theme="light"] .highlight .o {
  color: #d73a49
}

/* Operator */
[data-theme="light"] .highlight .cm {
  color: #6a737d
}

/* Comment.Multiline */
[data-theme="light"] .highlight .cp {
  color: #005cc5
}

/* Comment.Preproc */
[data-theme="light"] .highlight .c1 {
  color: #6a737d
}

/* Comment.Single */
[data-theme="light"] .highlight .cs {
  color: #6a737d
}

/* Comment.Special */
[data-theme="light"] .highlight .gd {
  color: #b31d28;
  background-color: #ffeef0
}

/* Generic.Deleted */
[data-theme="light"] .highlight .ge {
  color: #24292e;
  font-style: italic
}

/* Generic.Emph */
[data-theme="light"] .highlight .gr {
  color: #b31d28
}

/* Generic.Error */
[data-theme="light"] .highlight .gh {
  color: #005cc5
}

/* Generic.Heading */
[data-theme="light"] .highlight .gi {
  color: #22863a;
  background-color: #f0fff4
}

/* Generic.Inserted */
[data-theme="light"] .highlight .go {
  color: #6a737d
}

/* Generic.Output */
[data-theme="light"] .highlight .gp {
  color: #6f42c1
}

/* Generic.Prompt */
[data-theme="light"] .highlight .gs {
  color: #24292e;
  font-weight: bold
}

/* Generic.Strong */
[data-theme="light"] .highlight .gu {
  color: #005cc5
}

/* Generic.Subheading */
[data-theme="light"] .highlight .gt {
  color: #005cc5
}

/* Generic.Traceback */
[data-theme="light"] .highlight .kc {
  color: #005cc5
}

/* Keyword.Constant */
[data-theme="light"] .highlight .kd {
  color: #d73a49
}

/* Keyword.Declaration */
[data-theme="light"] .highlight .kn {
  color: #d73a49
}

/* Keyword.Namespace */
[data-theme="light"] .highlight .kp {
  color: #d73a49
}

/* Keyword.Pseudo */
[data-theme="light"] .highlight .kr {
  color: #d73a49
}

/* Keyword.Reserved */
[data-theme="light"] .highlight .kt {
  color: #d73a49
}

/* Keyword.Type */
[data-theme="light"] .highlight .m {
  color: #005cc5
}

/* Literal.Number */
[data-theme="light"] .highlight .s {
  color: #032f62
}

/* Literal.String */
[data-theme="light"] .highlight .na {
  color: #22863a
}

/* Name.Attribute */
[data-theme="light"] .highlight .nb {
  color: #005cc5
}

/* Name.Builtin */
[data-theme="light"] .highlight .nc {
  color: #6f42c1
}

/* Name.Class */
[data-theme="light"] .highlight .no {
  color: #005cc5
}

/* Name.Constant */
[data-theme="light"] .highlight .nd {
  color: #6f42c1
}

/* Name.Decorator */
[data-theme="light"] .highlight .ni {
  color: #6f42c1
}

/* Name.Entity */
[data-theme="light"] .highlight .ne {
  color: #6f42c1
}

/* Name.Exception */
[data-theme="light"] .highlight .nf {
  color: #6f42c1
}

/* Name.Function */
[data-theme="light"] .highlight .nl {
  color: #005cc5
}

/* Name.Label */
[data-theme="light"] .highlight .nn {
  color: #6f42c1
}

/* Name.Namespace */
[data-theme="light"] .highlight .nt {
  color: #22863a
}

/* Name.Tag */
[data-theme="light"] .highlight .nv {
  color: #005cc5
}

/* Name.Variable */
[data-theme="light"] .highlight .ow {
  color: #d73a49
}

/* Operator.Word */
[data-theme="light"] .highlight .w {
  color: #bbbbbb
}

/* Text.Whitespace */
[data-theme="light"] .highlight .mf {
  color: #005cc5
}

/* Literal.Number.Float */
[data-theme="light"] .highlight .mh {
  color: #005cc5
}

/* Literal.Number.Hex */
[data-theme="light"] .highlight .mi {
  color: #005cc5
}

/* Literal.Number.Integer */
[data-theme="light"] .highlight .mo {
  color: #005cc5
}

/* Literal.Number.Oct */
[data-theme="light"] .highlight .sb {
  color: #032f62
}

/* Literal.String.Backtick */
[data-theme="light"] .highlight .sc {
  color: #032f62
}

/* Literal.String.Char */
[data-theme="light"] .highlight .sd {
  color: #032f62
}

/* Literal.String.Doc */
[data-theme="light"] .highlight .s2 {
  color: #032f62
}

/* Literal.String.Double */
[data-theme="light"] .highlight .se {
  color: #032f62
}

/* Literal.String.Escape */
[data-theme="light"] .highlight .sh {
  color: #032f62
}

/* Literal.String.Heredoc */
[data-theme="light"] .highlight .si {
  color: #032f62
}

/* Literal.String.Interpol */
[data-theme="light"] .highlight .sx {
  color: #032f62
}

/* Literal.String.Other */
[data-theme="light"] .highlight .sr {
  color: #032f62
}

/* Literal.String.Regex */
[data-theme="light"] .highlight .s1 {
  color: #032f62
}

/* Literal.String.Single */
[data-theme="light"] .highlight .ss {
  color: #005cc5
}

/* Literal.String.Symbol */
[data-theme="light"] .highlight .bp {
  color: #005cc5
}

/* Name.Builtin.Pseudo */
[data-theme="light"] .highlight .vc {
  color: #005cc5
}

/* Name.Variable.Class */
[data-theme="light"] .highlight .vg {
  color: #005cc5
}

/* Name.Variable.Global */
[data-theme="light"] .highlight .vi {
  color: #005cc5
}

/* Name.Variable.Instance */
[data-theme="light"] .highlight .il {
  color: #005cc5
}

/* Literal.Number.Integer.Long */

/* GitHub Dark Theme */
[data-theme="dark"] .highlight .hll {
  background-color: #49483e
}

[data-theme="dark"] .highlight {
  background: #0d1117;
  color: #c9d1d9
}

[data-theme="dark"] .highlight .c {
  color: #8b949e
}

/* Comment */
[data-theme="dark"] .highlight .err {
  color: #f85149;
  background-color: #3e1b1b
}

/* Error */
[data-theme="dark"] .highlight .k {
  color: #ff7b72
}

/* Keyword */
[data-theme="dark"] .highlight .l {
  color: #a5d6ff
}

/* Literal */
[data-theme="dark"] .highlight .n {
  color: #c9d1d9
}

/* Name */
[data-theme="dark"] .highlight .o {
  color: #ff7b72
}

/* Operator */
[data-theme="dark"] .highlight .p {
  color: #c9d1d9
}

/* Punctuation */
[data-theme="dark"] .highlight .cm {
  color: #8b949e
}

/* Comment.Multiline */
[data-theme="dark"] .highlight .cp {
  color: #8b949e
}

/* Comment.Preproc */
[data-theme="dark"] .highlight .c1 {
  color: #8b949e
}

/* Comment.Single */
[data-theme="dark"] .highlight .cs {
  color: #8b949e
}

/* Comment.Special */
[data-theme="dark"] .highlight .ge {
  font-style: italic
}

/* Generic.Emph */
[data-theme="dark"] .highlight .gs {
  font-weight: bold
}

/* Generic.Strong */
[data-theme="dark"] .highlight .kc {
  color: #79c0ff
}

/* Keyword.Constant */
[data-theme="dark"] .highlight .kd {
  color: #ff7b72
}

/* Keyword.Declaration */
[data-theme="dark"] .highlight .kn {
  color: #ff7b72
}

/* Keyword.Namespace */
[data-theme="dark"] .highlight .kp {
  color: #79c0ff
}

/* Keyword.Pseudo */
[data-theme="dark"] .highlight .kr {
  color: #ff7b72
}

/* Keyword.Reserved */
[data-theme="dark"] .highlight .kt {
  color: #ff7b72
}

/* Keyword.Type */
[data-theme="dark"] .highlight .ld {
  color: #a5d6ff
}

/* Literal.Date */
[data-theme="dark"] .highlight .m {
  color: #a5d6ff
}

/* Literal.Number */
[data-theme="dark"] .highlight .s {
  color: #a5d6ff
}

/* Literal.String */
[data-theme="dark"] .highlight .na {
  color: #79c0ff
}

/* Name.Attribute */
[data-theme="dark"] .highlight .nb {
  color: #c9d1d9
}

/* Name.Builtin */
[data-theme="dark"] .highlight .nc {
  color: #f0883e
}

/* Name.Class */
[data-theme="dark"] .highlight .no {
  color: #79c0ff
}

/* Name.Constant */
[data-theme="dark"] .highlight .nd {
  color: #d2a8ff
}

/* Name.Decorator */
[data-theme="dark"] .highlight .ni {
  color: #c9d1d9
}

/* Name.Entity */
[data-theme="dark"] .highlight .ne {
  color: #f0883e
}

/* Name.Exception */
[data-theme="dark"] .highlight .nf {
  color: #d2a8ff
}

/* Name.Function */
[data-theme="dark"] .highlight .nl {
  color: #79c0ff
}

/* Name.Label */
[data-theme="dark"] .highlight .nn {
  color: #ff7b72
}

/* Name.Namespace */
[data-theme="dark"] .highlight .nx {
  color: #c9d1d9
}

/* Name.Other */
[data-theme="dark"] .highlight .py {
  color: #c9d1d9
}

/* Name.Property */
[data-theme="dark"] .highlight .nt {
  color: #7ee787
}

/* Name.Tag */
[data-theme="dark"] .highlight .nv {
  color: #79c0ff
}

/* Name.Variable */
[data-theme="dark"] .highlight .ow {
  color: #ff7b72
}

/* Operator.Word */
[data-theme="dark"] .highlight .w {
  color: #c9d1d9
}

/* Text.Whitespace */
[data-theme="dark"] .highlight .mf {
  color: #a5d6ff
}

/* Literal.Number.Float */
[data-theme="dark"] .highlight .mh {
  color: #a5d6ff
}

/* Literal.Number.Hex */
[data-theme="dark"] .highlight .mi {
  color: #a5d6ff
}

/* Literal.Number.Integer */
[data-theme="dark"] .highlight .mo {
  color: #a5d6ff
}

/* Literal.Number.Oct */
[data-theme="dark"] .highlight .sb {
  color: #a5d6ff
}

/* Literal.String.Backtick */
[data-theme="dark"] .highlight .sc {
  color: #a5d6ff
}

/* Literal.String.Char */
[data-theme="dark"] .highlight .sd {
  color: #a5d6ff
}

/* Literal.String.Doc */
[data-theme="dark"] .highlight .s2 {
  color: #a5d6ff
}

/* Literal.String.Double */
[data-theme="dark"] .highlight .se {
  color: #79c0ff
}

/* Literal.String.Escape */
[data-theme="dark"] .highlight .sh {
  color: #a5d6ff
}

/* Literal.String.Heredoc */
[data-theme="dark"] .highlight .si {
  color: #a5d6ff
}

/* Literal.String.Interpol */
[data-theme="dark"] .highlight .sx {
  color: #a5d6ff
}

/* Literal.String.Other */
[data-theme="dark"] .highlight .sr {
  color: #a5d6ff
}

/* Literal.String.Regex */
[data-theme="dark"] .highlight .s1 {
  color: #a5d6ff
}

/* Literal.String.Single */
[data-theme="dark"] .highlight .ss {
  color: #a5d6ff
}

/* Literal.String.Symbol */
[data-theme="dark"] .highlight .bp {
  color: #c9d1d9
}

/* Name.Builtin.Pseudo */
[data-theme="dark"] .highlight .vc {
  color: #c9d1d9
}

/* Name.Variable.Class */
[data-theme="dark"] .highlight .vg {
  color: #c9d1d9
}

/* Name.Variable.Global */
[data-theme="dark"] .highlight .vi {
  color: #c9d1d9
}

/* Name.Variable.Instance */
[data-theme="dark"] .highlight .il {
  color: #a5d6ff
}

/* Literal.Number.Integer.Long */

/* General adjustments for code blocks */
.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}