<div id="page-projects" class="full-page hidden">
    {% include nav.html %}
    <div class="page-content">
        <h1>Projects</h1>
        <div class="projects-list">
            <ul class="minimalist-list">
                {% for project in site.projects %}
                <li>
                    <a href="{{ project.url | relative_url }}" class="project-title">{{ project.title }}</a>
                    <span class="project-separator">-</span>
                    <span class="project-description">{{ project.description }}</span>
                </li>
                {% else %}
                <li>Coming soon...</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>