<div id="page-projects" class="full-page hidden">
    {{ partial "nav.html" . }}
    <div class="page-content">
        <h1>Projects</h1>
        <div class="projects-list">
            <ul class="minimalist-list">
                {{ range where site.RegularPages "Section" "projects" }}
                <li>
                    <a href="{{ .RelPermalink }}" class="project-title">{{ .Title }}</a>
                    <span class="project-separator">-</span>
                    <span class="project-description">{{ .Params.description }}</span>
                </li>
                {{ else }}
                <li>Coming soon...</li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>